body {
  /* background-color: rgb(236, 215, 192); */
  /* EC D7 C0 <- Hexadecimal values for RGB */
  /* background-color: #ECD7C0; */
  /* color: #ABCD03; */
  /* color: #abcd03; */
  /* background-color: ; */
  /* 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F */
}

button {
  border-radius: 50%;
  border-style: solid;
  border-color: black;
}